<div class="banner">
  <h1>
    <%= @restaurant.name %>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="box">
        <p>
          <strong>Category :</strong><%= @restaurant.category %>
        </p>
        <p>
          <strong>Address :</strong><%= @restaurant.address %>
        </p>
        <p>
          <strong>Phone :</strong><%= @restaurant.phone_number %>
        </p>
        <br>
        <p><strong>Reviews :</strong></p>
        <% @restaurant.reviews.each do |review| %>
          <ul>
            <li>
              <%= review.content %> -
              <% review.rating.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>

      </div>
    </div>
  </div>

